venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
# General folder exclusions
data/raw/
data/processed/

# DVC EXCEPTION: Allow all .dvc files to be tracked by Git
!**/*.dvc

.DS_Storedata/MachineLearningRating_v3.txt
venv/
__pycache__/
.DS_Store
# Ignore the data folder...
data/
# ...BUT DO NOT ignore the DVC metadata files!
!data/*.dvc